<div class="container">
  <h1>Current Users</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">User Since</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
    
  <tbody>
    <% @users.each do |user|%>
      <tr>
        <td scope="row"><%= user.email %></td>
        <td scope="row"><%= user.first_name %></td>
        <td scope="row"><%= user.last_name %></td>
        <td scope="row"><%= user.created_at %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning"%></td>
        <td><%= link_to 'Delete', user_path(user), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
   </table>
</div>