<div class="container">
 <h1>Vehicle to go to Service</h1>
 <%= form_with scope: :vehicle, url: vehicles_path do |form|%>
  <div class= form-row>
    <div class= "col-mb-3"> 
      <%= form.label :stock_number%>
      <%= form.text_field :stock_number, class: "form-control", placeholder: "Stock Number" %>
    </div> 
    <div class= "col-mb-3"> 
      <%= form.label :year %>
      <%= form.text_field :year, class: "form-control", placeholder: "Year"%>
    </div>
   <div class= "col-mb-3"> 
    <%= form.label :make %>
    <%= form.text_field :make, class: "form-control", placeholder: "Make"%>
  </div>
  <div class= "col-mb-3"> 
    <%= form.label :model %>
    <%= form.text_field :model, class: "form-control", placeholder: "Model"%>
  </div>
  </div>
  
<div class= form-row>
  <div class= "col-mb-3"> 
    <%= form.label :kind %>
    <%= form.text_field :kind, class: "form-control", placeholder: "Type"%>
  </div><div class= "col-mb-3"> 
    <%= form.label :mileage %>
    <%= form.text_field :mileage, class: "form-control", placeholder: "Mileage"%>
  </div>
  <div class= "col-mb-3"> 
    <%= form.label :purchase_price %>
    <%= form.text_field :purchase_price, class: "form-control", placeholder: "Purchase Price"%>
  </div>
    <div class= "col-mb-3"> 
    <%= form.label :recon_budget%>
    <%= form.text_field :recon_budget, class: "form-control", placeholder: "Recon Budget"%>
  </div>
  </div>
    <div class= "mb-3"> 
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control", placeholder: "Location"%>
  </div>
  
  <div class= "mb-3"> 
    <%= form.label :notes %>
    <%= form.text_area :notes, class: "form-control", placeholder: "Notes" %> 
    <%= form.hidden_field :created_by, value: set_current_user.email %>
    <%= form.hidden_field :status, value: "Waiting on RO" %> 
    <br>
    <%= form.submit "Create", class: "btn btn-primary" %>
  <%= link_to 'Back', vehicles_path,  class: "btn btn-success" %>
<% end %>
  </div>
</div>
</div>