<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="logo" href="#">Time 2 Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%# <li class="nav-item active">
        <a class="nav-link" id="link1" href="#">Home <span class="sr-only">(current)</span></a>
      </li> %>
      
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="link1"      href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Home</a>
          <a class="dropdown-item" href="#">Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Training</a>
          
          
          </li>
          <%if logged_in %>
          <li class="nav-item" >
            <%= link_to set_current_user.first_name, logout_path, class: "nav-link" %>
          <li class="nav-item" >
            <%= link_to 'Log Out', logout_path, class: "nav-link" %>
            </li>
          <% else %>
          <li class="nav-item" id="link1">
            <%= link_to 'Log in', login_path, class: "nav-link" %>
            </li>
            <% end %>
            <li class="nav-item" id="link1">
              <%= link_to 'Status', vehicles_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'Used', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'New', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'Service', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'Dispatch', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'Tech', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'Parts', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1"> 
              <%= link_to 'Sublet', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'Detail', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'History', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
                <%= link_to 'Reports', new_vehicle_path, class: "nav-link" %>
            <li class="nav-item" id="link1">
              <%= link_to 'Admin', registrations_path, class: "nav-link" %>
          </ul>
    <%# <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-1" type="submit">Search</button>
    </form> %>
  </div>
  </div>
</nav>